<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerador de Ordem de Serviço</title>
</head>
<body>
    <h1>Gerador de Ordem de Serviço</h1>
    <form action="{{url_for('empresa')}}">
        <button>Cadastro da Empresa</button>
    </form>
    <form action="{{url_for('clientes')}}">
        <button>Cadastro de Clientes</button>
    </form>
    <form action="{{url_for('produtos')}}">
        <button>Cadastro de Produtos</button>
    </form>
</body>
</html>